* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav-bar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 100%;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: rgba(128, 128, 128, 0.685);
  position: fixed;
  top: 0;
  left: 0;
}
#nav-header {
  font-size: 28px;
  padding: 20px;
  text-align: center;
}
.nav-link {
  color: black;
  text-decoration: none;
  border-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 12px 12px 12px 20px;
  font-size: 18px;
}
#main-doc {
  margin-left: 330px;
}
