* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 100%;
  border-right-style: solid;
  border-right-width: 3px;
  border-right-color: rgba(128, 128, 128, 0.685);
  position: fixed;
  top: 0;
  left: 0;
}
#nav-header {
  font-size: 28px;
  padding: 20px;
  text-align: center;
}
.nav-link {
  color: black;
  text-decoration: none;
  border-color: black;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 12px 12px 12px 20px;
  font-size: 18px;
}
#main-doc {
  margin-left: 300px;
  font-size: 19px;
  line-height: 20px;
  padding-top: 30px;
}
.section-header {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}
.main-section {
  padding: 15px 40px 0px 40px;
}
ul {
  margin-left: 50px;
}
li {
  padding-bottom: 15px;
}
p {
  padding-bottom: 15px;
}
.code-div {
  background-color: rgb(235, 230, 230);
  font-size: 15px;
  padding: 20px 20px 20px 10px;
  margin-left: 20px;
}
@media (max-width: 700px) {
  #navbar {
    width: 100%;
    max-height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background: rgb(240, 236, 236);
  }
  #nav-header {
    width: 100%;
    padding: 10px;
  }
  #main-doc {
    margin-left: 20px;
    padding-top: 300px;
  }
  .nav-link {
    border-style: solid;
    border-width: 2px;
    width: 33%;
    margin-left: 1px;
    text-align: center;
    font-size: 15px;
    max-height: 18%;
  }
}
